/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500&family=Roboto&display=swap');

/*Adobe fonts*/
@import url("https://use.typekit.net/ybh0ixv.css");
/* catalpa 100 300 700*/
/* barricada-pro 400 */
/* fino-sans 400 */
/* itc-avant-garde-gothic-pro 300 500 700*/

/*Apercu Pro*/
@import url(//db.onlinewebfonts.com/c/b8788b26cb5f2d9f5c9edf71e7846f5c?family=Apercu+Pro+Medium);
@import url(//db.onlinewebfonts.com/c/74c3c29282b604a9eed88ac6ede61463?family=Apercu+Pro);


/* ---------------- root colors ---------------- */
:root {

#FF8EC8; /*pink*/
#7709FA; /*purple*/
#84CAFD; /*light blue*/
#010FFA; /*dark blue*/
#FF502B; /*red*/
#FFD43D; /*yellow*/
#01BD65; /*green*/
#030303; /*black*/
#FFFFFF; /*white*/

  --background-primary-color: #030303;
  --background-secondary-color: #FFFFFF;

  --accent-color: #7709FA;

  --headline-primary-color: #FFFFFF;
  --headline-secondary-color: #7709FA;

  --text-color: #FFFFFF;

  --nav-bar-color: #FFFFFF;

/*categories colours*/
  --animation:;
  --brand-identity: ;
  --dataviz: ;
  --illustration: ;
  --ui: ;

}

/* ---------------- body ---------------- */


body {
  font-family: itc-avant-garde-gothic-pro;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-primary-color);
  color: var(--text-color);
	margin: auto; /*auto margins keep it centered */
  max-width: 100%;
  max-height: 100vh;
}



/* ---------------- header & navigation bar ---------------- */

header {
  display: flex;
  align-items: baseline;
  justify-content: center;
  position: sticky;
  top: 0px;
  padding: 48px 24px 24px 24px;
}

nav a {
  font-weight: 500;
  font-size: 18px;
  text-transform: lowercase;
  text-decoration: none;
  color: var(--nav-bar-color);
  opacity: 0.5;
  margin: 0px 48px 0px 48px;
  padding: 12px;
  transition: opacity 0.5s;
}

nav a:hover, nav a.selected {
  color: var(--nav-bar-color);
  opacity: 1;
}


/* Hamburger Menu */

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(119,9,250);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #FFD43D;
  opacity: 1;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #ffffff;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}


/* ---------------- body ---------------- */





/* ---------------- sections ---------------- */


section {
  margin: 0px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 32px 32px;
  grid-auto-flow: dense;
}

section.intro h1 {
  grid-column: 3 / span 8;
  text-align: center;
  margin-top: 100px;
}

section.intro h2 {
  grid-column: 5 / span 4;
  text-align: center;
  font-size: 18px;
}

div.social-icons {
  padding: 12px;
  text-align: center;
}


/* ---------------- portfolio ---------------- */







/* ---------------- text ---------------- */

h1, h2, h3, nav, .button {
  font-family: itc-avant-garde-gothic-pro;
  color: var(--headline-primary-color);
}

h1 {
  font-size: 42px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: -0.5px;
}

div.coming-soon {

  text-align: center;
  align-items: center;
  display: grid;
  height: 100vh;
}

h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.25;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.15;
}

p {
  font-family: 'Apercu Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.4;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}

a {
  text-decoration: none;
}

/* ---------------- buttons ---------------- */

a.button {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  border: 2px solid;
  border-radius: 0px;
  padding: 10px 15px;
}



/* ---------------- images ---------------- */

.logo-placeholder {
  max-width: 2.5em;
  max-height: inherit;
}

img.social {
  max-width: 1.5em;
  max-height: inherit;
  margin: 0px 12px;
}




/* ---------------- portfolio grid ---------------- */



/* ---------------- footer ---------------- */

footer {
  display: none;
  align-items: center;
  justify-content: center;
  bottom: 0;
  font-family: ITC Avant Garde Gothic;
  font-weight: 400;
  font-size: 12px;
  color: var(--headline-primary-color);
  margin: 24px 0 0 0;
  padding: 8px 0 8px 0;
}






/* ---------------- media queries ---------------- */

@media (max-width: 920px) {



@media screen and (max-width:800px) {

header {
  align-items: center;
  }

}


@media screen and (max-width: 600px) {

  section.intro h1 {
    grid-column: 2 / span 10;
    text-align: center;
  }


#nav-main {
  display: none;
}


}


@media screen and (max-height: 450px) {

/*hamburger menu*/
  .overlay {
    overflow-y: auto;
  }

  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

#nav-main {
  display: none;
}

span.burger {
  top: 20px;
  right: 45px;
  font-size: 60px;
}

}
