/* ---------------- fonts ---------------- */
@import url("https://use.typekit.net/ybh0ixv.css");

@font-face {
  font-family: Avenir;
  src: url(Avenir.ttc);
}

@font-face {
  font-family: Avenir Heavy;
  src: url(Avenir.ttc);
}


@font-face {
    font-family: 'Campton-Bold-DEMO';
    src:url('Campton-Bold-DEMO.ttf.woff') format('woff'),
        url('Campton-Bold-DEMO.ttf.svg#Campton-Bold-DEMO') format('svg'),
        url('Campton-Bold-DEMO.ttf.eot'),
        url('Campton-Bold-DEMO.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');


/* ---------------- root colors ---------------- */

:root {

/* #f8f5e4 = beige */
/* #fdebeb = light pink*/
/* #3a5aed = blue */
/* #f29cc9 = pink */
/* #fdda36 = yellow */
/* #f85a59 = red */
/* #1b1c1b = black */

  --background-primary-color: #f8f5e4;
  --background-secondary-color: #fdebeb;

  --headline-primary-color: #3a5aed;
  --headline-secondary-color: #f29cc9;

  --text-color: #1b1c1b;

  --accent-color: #f85a59;

  --nav-bar-color: #1b1c1b;

}

/* ---------------- body ---------------- */


body {
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--background-secondary-color);
  color: var(--text-color);
	margin: auto; /*auto margins keep it centered */
  max-width: 100%;
  max-height: 100vh;
}



/* ---------------- header & navigation bar ---------------- */

div.logo {
  text-align: center;
  padding: 60px 0px 0px 0px;
}

header {
  align-items: baseline;
  display: flex;
  justify-content: center;
  padding: 24px 24px 24px 24px;
  position: sticky;
  top: 0px;
}

nav a {
  color: var(--nav-bar-color);
  font-size: 15px;
  font-weight: 400;
  margin: 0px 12px 0px 12px;
  opacity: 1;
  padding: 12px;
  text-decoration: none;
  text-transform: none;
  transition: opacity 0.5s;
}

nav a:hover, nav a.selected {
  color: var(--accent-color);
  opacity: 1;
}

#nav-mobile {
  display: none;
}


/* Hamburger Menu */

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: var(--background-secondary-color);
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: var(--headline-secondary-color);
  opacity: 1;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: var(--accent-color);
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: var(--accent-color);
}


/* ---------------- grid ---------------- */

section {
  margin: 40px 0px 0px 0px;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  gap: 32px 32px;
  grid-auto-flow: dense;
  padding: 20px;

}

section.headline-main h1.main{
  grid-column: 1 / span 11;
  text-align: center;
  margin: 0px;

}

section.project div.artwork {
  grid-column:  2 / span 3;
  text-align: center;
}

section.project div.description {
  grid-column:  2 / span 3;
  text-align: center;
}

section.project div.artwork-two {
  grid-column:  5 / span 3;
  text-align: center;
}

section.project div.description-two {
  grid-column:  5 / span 3;
  text-align: center;
}

section.project div.artwork-three {
  grid-column:  8 / span 3;
  text-align: center;
}

section.project div.description-three {
  grid-column:  8 / span 3;
  text-align: center;
}


section.project img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    border-radius: 2px;
    opacity: 1;
}

section.project img:hover {
    opacity: 0.85;

}

div.content {
  text-align: center;
}




/* ---------------- portfolio ---------------- */







/* ---------------- text ---------------- */

h1, h2, h3, nav {
  color: var(--text-color);
}

h1, h2, h3, nav, p.cat {
  font-family: DM Mono;
  font-weight: 400;
}

h1.main {
  font-size: 40px;
}

div.coming-soon {

  text-align: center;
  align-items: center;
  display: grid;
  height: 100vh;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  margin-top: 0px;
  margin-bottom: 0px;
}

h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.15;
}

p {
  font-family: Avenir, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  line-height: 1.4;
  letter-spacing: 1.2px;
  margin-bottom: 10px;
}

p.cat {
  font-size: 12px;
  font-weight: 400;
  color: var(--accent-color);
  margin-top: 8px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

/* ---------------- buttons ---------------- */

a.button {
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  border: 2px solid;
  border-radius: 0px;
  padding: 10px 15px;
}



/* ---------------- images ---------------- */

img.logo-main {
  max-width: 30px;
}

img.logo-main:hover {
  opacity: 0.8;
}




/* ---------------- portfolio grid ---------------- */





/* ---------------- footer ---------------- */

footer {
  display: none;
  align-items: center;
  justify-content: center;
  bottom: 0;
  font-family: ITC Avant Garde Gothic;
  font-weight: 400;
  font-size: 12px;
  color: var(--headline-primary-color);
  margin: 24px 0 0 0;
  padding: 8px 0 8px 0;
}






/* ---------------- media queries ---------------- */




@media screen and (max-width:800px) {

header {
  justify-content: right;
  }

  #nav-mobile {
    display: block;
  }

  #nav-main {
    display: none;
  }

  img.logo-main {
    display:none;
  }

  span.burger {
    display: block;
    margin-right: 40px;
    margin-top: -15px;
  }


}


@media screen and (max-width: 600px) {

  section.intro h1 {
    grid-column: 2 / span 10;
    text-align: center;
  }

  section {
      grid-template-columns: repeat(4, 1fr);
      gap: 64px 0 64px 0;
      padding: 30px;
    }

    section h1,
    section.project div.artwork,
    section.project div.description,
    section.project div.artwork-two,
    section.project div.description-two,
    section.project div.artwork-three,
    section.project div.description-three,

    section.about div.photo,
    section.about div.description,
    section.contact div.form {
      grid-column: 1 / span 4;
    }


}



@media screen and (max-height: 450px) {

/*hamburger menu*/

  .overlay {
    overflow-y: auto;
  }

  .overlay a {
    font-size: 20px
  }

  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }

  #nav-main {
  display: none;
  }

  img.logo-main {
    display:none;
  }

  span.burger {
    font-size: 40px;
    margin-right: 40px;
    margin-top: -15px;
  }

}
